{% extends 'store/base.html' %}
{% load static %}


{% block content%}



<div class="container" style="text-align: center;"> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <i class="fa fa-check-circle" aria-hidden="true" style="font-size: 180px; background-color:  greeen;color: rgb(30, 222, 75);"></i> 
    <div class="mt-5"> 
 
        <h1>Your Order is completed successfully</h1> 
        <br> 
        <h2>Thankyou</h2>
        <a href="{%  url 'home' %}" class="btn btn-primary" role="button">Home</a> 
    </div> 
   
 
        {% comment %} <a href="{%  url 'shop' %}" class="btn btn-dark ml-5" role="button">Buy Another</a>  {% endcomment %}


 

 
</div>

{% endblock %}